#########################################
# OUTPUT
#########################################
#RUN_NAME is arbitrary
RUN_NAME = UCT
OUTPUT_FOLDER_PATH = 6_OUTPUT/1-CORE_out/triples/

#################################################
# EVENTS FILE
#################################################
# use 1 for output style of original Geant simulation
# use 2 for pgc Geant Simulation (after 5/1/2011)
# use 3 for comma seperated values (csv) file
# use 4 for pgc Geant Simulation (after 11/30/2011)
DATA_FILE_FORMAT = 3 
GAMMA_TREE_NAME = tripleGammas

EVENT_FILE_PATH = ./2_DATA/AllEventsCombined_M400-scatters-UnPhy_3x.csv

#########################################
# IMAGE ALGORITHM PARAMETERS
######################################### 
#Implemented algorirhtms include SOE, SBP, OCTANE, KEM
#IMAGE_ALGORITHM = OCTANE
#IMAGE_ALGORITHM = SOE
#IMAGE_ALGORITHM = SBP
IMAGE_ALGORITHM = KEM
RESULTS_FORMAT = SIMPLE

#########################################
# EVENT_DATA PARAMETERS
#########################################
#The DCA is calculated as the distance from each cone to DCA_CENTER.
DCA_CENTER_X = 0.0
DCA_CENTER_Y = 0.0
DCA_CENTER_Z = 0.0

#########################################
# OCTANE PARAMETERS
#########################################
INTERCEPT_DCA = 2				# SWP - I don't have this setting in my code
PHANTOM_LENGTH = 1200
#PHANTOM_CENTER_X = 0.0
PHANTOM_CENTER_X = 0.0		# SWP - set to match Mole KEM run
PHANTOM_CENTER_Y = 0.0
PHANTOM_CENTER_Z = 0.0
PHANTOM_BINS = 64				# SWP - I don't have this setting in my code
SOURCE_AXIS_DISTANCE = 300		# SWP - I don't have this setting in my code
CONE_LENGTH_CORRECTION = 0.3	# SWP - I don't have this setting in my code

#########################################
# POINT PARAMETERS
#########################################
#TEMPERATURE = 1.0
TEMPERATURE = 0.90				# SWP - set to match Mole KEM run
#EVENT_MULTIPLIER = 1
EVENT_MULTIPLIER = 100.0		# SWP - set to match Mole KEM run
OFFSET_X = 0.0
OFFSET_Y = 0.0
#Parameter corrects for inverse square effect. Values should be between 0.5 and 1.0.
#0.75 seems to work well for the 7/25 filtered data
#INVERSE_SQUARE_PARAM = 1.0
INVERSE_SQUARE_PARAM = 0.8		# SWP - set to match Mole KEM run
#Number of threads to use with OpenMP
NUMBER_OF_THREADS = 1			# SWP - will stick with this setting, seems important to leave the same
#NUMBER_OF_THREADS = 50

#POINT_ITERATIONS = 1000
POINT_ITERATIONS = 600			# SWP - set to match Mole KEM run

#########################################
# kERNEL EXPECTATION MINIMIZATION
#########################################

#KERNEL_BANDWIDTH = 15
KERNEL_BANDWIDTH = 6      # SWP - set to match Mole KEM run
SYSTEM_MATRIX_SCALAR = 3

#################################################
# CHOOSE DENSITY ESTIMATOR TYPE
#################################################
#use DENSITY_ESTIMATOR_TYPE=1 for 3D histogram
#use DENSITY_ESTIMATOR_TYPE=2 for average shifted 3D histogram

#DENSITY_ESTIMATOR_TYPE = 1
DENSITY_ESTIMATOR_TYPE = 2	# SWP - set to match Mole KEM run
#NUMBER_OF_SHIFTS = 1
NUMBER_OF_SHIFTS = 20		# SWP - set to match Mole KEM run

#########################################
# RUN TIME CONSTRAINTS
#########################################
#RANDOM_SEED = 42
RANDOM_SEED = 20440			# SWP - set to match Mole KEM run
ITERATIONS = 1				# SWP - I don't have this setting in my code

#Most random points on the cone are
# outside of the phantom, and, therefore, 
# cannot be used. The algorithm continues to try
# to generate a random point on the cone and in the 
# phantom until it is successful or it has tried 
# NUM_TRIES_FOR_RANDOM times. If NUM_TRIES_FOR_RANDOM
# is exceeded, then then cone is thrown out.
#
# Decreasing this number will reduce the time it take to run 
# the code. It could reasonably make the reconstruction better 
# or worse -- This has NOT been tested
#originally 100000
#NUM_TRIES_FOR_RANDOM = 100000
NUM_TRIES_FOR_RANDOM = 200				# SWP - set to match Mole KEM run
CONE_PHANTOM_OVERLAP_PERCENTAGE = 0.05	# SWP - I don't use this setting in my code

#Limit reconstruction to MAX_NUM_CONES
#originally 500000
MAX_NUM_CONES = 3000000

#Skip the first NUM_CONES_OFFSET cones
NUM_CONES_OFFSET = 0
########################################


#################################################
# PHANTOM DIMENSIONS
#################################################
#set X_length & Y_length to lateral size of phantom (17.5 cm)_69 bins ---> FOV for CT scan of Phantom (322 mm)
#170 for Penn data
#X_MIN=-300
#X_MAX=300
#X_BINS=200
#Y_MIN=-300
#Y_MAX=300
#Y_BINS=200
#set to slice thickness and range for CT scan of phantom (352 mm)_140 bins
#Z_LENGTH=-300
#Z_MIN=-300
#Z_MAX=300
#Z_BINS=200

### SWP - set to match Mole KEM run
X_MIN  = -500
X_MAX  = 500
X_BINS = 100

Y_MIN  = -500
Y_MAX  = 500
Y_BINS = 100

Z_MIN  = -500
Z_MAX  = 500
Z_BINS = 100

#################################################

#################################################
# OUTPUT BINS
#################################################

#OUTPUT_BINS_X=75
#OUTPUT_BINS_Y=75
#OUTPUT_BINS_Z=150
#OUTPUT_X_MIN=-75
#OUTPUT_X_MAX=75
#OUTPUT_Y_MIN=-75
#OUTPUT_Y_MAX=75
#OUTPUT_Z_MIN=-150
#OUTPUT_Z_MAX=150

### SWP - set to match Mole KEM run
#OUTPUT_X_MIN  = -600
#OUTPUT_X_MAX  = 600
#OUTPUT_BINS_X = 200

#OUTPUT_Y_MIN  = -600
#OUTPUT_Y_MAX  = 600
#OUTPUT_BINS_Y = 200

#OUTPUT_Z_MIN  = -600
#OUTPUT_Z_MAX  = 600
#OUTPUT_BINS_Z = 200

OUTPUT_X_MIN  = -250
OUTPUT_X_MAX  = 250
OUTPUT_BINS_X = 50

OUTPUT_Y_MIN  = -250
OUTPUT_Y_MAX  = 250
OUTPUT_BINS_Y = 50

OUTPUT_Z_MIN  = -250
OUTPUT_Z_MAX  = 250
OUTPUT_BINS_Z = 50

#################################################
# EVENT CUTS
#################################################

#Cone/plane intersections are either ellipses or parabolas
# To exclude parabolas from reconstruction set USE_PARABOLAS=0
# It is possible that parabolas are more likely to be noise
# than are ellipses
USE_PARABOLAS = 0				# SWP - I don't use this setting in my code
#normally min 2.0 and max 6.5 for proton beam
MIN_GAMMA_ENERGY = 0.0 # 0.7 for Cs # 0.6 for all events
#MAX_GAMMA_ENERGY = 20
MAX_GAMMA_ENERGY = 15.0			# SWP - set to match Mole KEM run
MIN_SCATTERING_ANGLE = 0.0      # SWP - Added to work with Dennis code
MAX_SCATTERING_ANGLE = 180.0    # 180.0

#require the some distance between the first and second scatters
#normally 5
SCATTER_DISTANCE = 5
#DCA_CUT = 50
DCA_CUT = 350000				# SWP - set to match Mole KEM run
DCA_CUT_X = 0.0					# SWP - I don't use this setting in my code
DCA_CUT_Y = 0.0					# SWP - I don't use this setting in my code
DCA_CUT_Z = 0.0					# SWP - I don't use this setting in my code


#################################################





#############################################################################
#############################################################################
#############################################################################
# EXPERIMENTAL -- PLEASE IGNORE BELOW HERE
#############################################################################
#############################################################################
#############################################################################
#############################################################################
#############################################################################
#############################################################################
ALGORITHM=SOE_MDA
DCA_MIN=0.0
DCA_MAX=150.0
#MAX_ENERGY_LOST=0.01
MAX_ENERGY_LOST=100.0
WEIGHT_POWER=1


#################################################
# MOVE CRITERIA
#################################################
#use MOVE_TYPE=1 for p(N) > p(O) move criteria
#use MOVE_TYPE=2 for p(N) > p(O) or p(N) > rand*(p(O)+p(N))
#use MOVE_TYPE=3 for p(N) > p(O) or p(N) > rand*p(O)
MOVE_TYPE=3

#################################################
# LOGISTIC COEFFICIENTS
#################################################
C_E0=0
C_E1=0
C_E2=0.0
C_THETA1=0
C_THETA2=0
C_dE1=0
C_dE2=0
C_dE3=0.0
C_INTERCEPT=0

#################################################
# Detector Effects
#################################################
#unit in mm

DETECTOR1_X_UNC = 0.00000
DETECTOR1_Y_UNC = 0.00000
DETECTOR1_Z_UNC = 0.00000

DETECTOR2_X_UNC = 0.00000
DETECTOR2_Y_UNC = 0.00000
DETECTOR2_Z_UNC = 0.00000

DETECTOR3_X_UNC = 0.0000
DETECTOR3_Y_UNC = 0.0000
DETECTOR3_Z_UNC = 0.0000

DETECTOR1_E_ALPHA = 0.0
DETECTOR1_E_BETA =  0.0

DETECTOR2_E_ALPHA = 0.0
DETECTOR2_E_BETA =  0.0

DETECTOR3_E_ALPHA = 0.0
DETECTOR1_E_BETA =  0.0

DETECTOR1_E_SCALAR =  0.0
DETECTOR2_E_SCALAR =  0.0

DETECTOR1_MATERIAL =  CZT
DETECTOR2_MATERIAL =  CZT



#################################################
# SYSTEM COMMANDS
#################################################
MAKE_DIR_COMMAND=mkdir
MOVE_DIR_COMMAND=mv
FOLDER_DELIMITER=/
COPY_COMMAND=cp
DELIMITER=,

