#########################################
# OUTPUT
#########################################
#RUN_NAME is arbitrary
RUN_NAME=YYY_RUN_NAME
RANDOM_SEED=YYY_RANDOM_SEED
OUTPUT_FOLDER_PATH=YYY_OUTPUT_FOLDER_PATH/YYY_RUN_NAME

OUTPUT_BINS_X=YYY_OUTPUT_BINS_X
OUTPUT_BINS_Y=YYY_OUTPUT_BINS_Y
OUTPUT_BINS_Z=YYY_OUTPUT_BINS_Z

OUTPUT_X_MIN = YYY_OUTPUT_X_MIN
OUTPUT_X_MAX = YYY_OUTPUT_X_MAX

OUTPUT_Y_MIN = YYY_OUTPUT_Y_MIN
OUTPUT_Y_MAX = YYY_OUTPUT_Y_MAX

OUTPUT_Z_MIN = YYY_OUTPUT_Z_MIN
OUTPUT_Z_MAX = YYY_OUTPUT_Z_MAX

#########################################
# SBP PARAMETERS
#########################################
KERNEL_BANDWIDTH=YYY_KERNEL_BANDWIDTH
SYSTEM_MATRIX_SCALAR=YYY_SYSTEM_MATRIX_SCALAR

#################################################
# POINT AND SOE PHANTOM DIMENSIONS
#################################################
#set X_length & Y_length to lateral size of phantom (17.5 cm)_69 bins ---> FOV for CT scan of Phantom (322 mm)
#170 for Penn data
X_MIN=YYY_X_MIN
X_MAX=YYY_X_MAX
X_BINS=YYY_BINS

Y_MIN=-YYY_Y_LENGTH
Y_MAX=YYY_Y_LENGTH
Y_BINS=YYY_BINS

#set to slice thickness and range for CT scan of phantom (352 mm)_140 bins
#Z_LENGTH=-50
Z_MIN=YYY_Z_MIN
Z_MAX=YYY_Z_MAX
Z_BINS=YYY_BINS

#################################################
# EVENTS FILE
#################################################
# use 1 for output style of original Geant simulation
# use 2 for pgc Geant Simulation (after 5/1/2011)
# use 3 for comma seperated values (csv) file
# use 4 for pgc Geant Simulation (after 11/30/2011)
DATA_FILE_FORMAT=YYY_DATA_FILE_FORMAT
GAMMA_TREE_NAME=tripleGammas

EVENT_FILE_PATH=YYY_EVENT_FILE_PATH

KNOWN_GAMMA_ENERGIES = YYY_KNOWN_GAMMA_ENERGIES

#DCA for line is segment between BEAM_LINE_POINT1 and BEAM_LINE_POINT2
BEAM_LINE_POINT1 = YYY_BEAM_LINE_POINT1
BEAM_LINE_POINT2 = YYY_BEAM_LINE_POINT2
DCA_LINE_CUT = YYY_DCA_LINE_CUT
MIN_ENERGY_SCATTER = YYY_MIN_ENERGY_SCATTER
MIN_ENERGY_EVENT = YYY_MIN_ENERGY_EVENT


#########################################
# IMAGE ALGORITHM PARAMETERS
######################################### 
#Implemented algorirhtms include SOE, POINT, and EVENT_DATA, OCTANE
IMAGE_ALGORITHM = YYY_IMAGE_ALGORITHM
RESULTS_FORMAT = simple

#########################################
# EVENT_DATA PARAMETERS
#########################################
#The DCA is calculated as the distance from each cone to DCA_CENTER.
DCA_CENTER_X = YYY_DCA_CENTER_X
DCA_CENTER_Y = YYY_DCA_CENTER_Y
DCA_CENTER_Z = YYY_DCA_CENTER_Z

#########################################
# OCTANE PARAMETERS
#########################################
CONE_LENGTH_CORRECTION=YYY_CONE_LENGTH_CORRECTION

OCTANE_ITERATIONS=YYY_OCTANE_ITERATIONS

PHANTOM_LENGTH=YYY_PHANTOM_LENGTH
BIN_WIDTH = YYY_KERNEL_BANDWIDTH;
PHANTOM_CENTER_X = YYY_PHANTOM_CENTER_X
PHANTOM_CENTER_Y = YYY_PHANTOM_CENTER_Y
PHANTOM_CENTER_Z = YYY_PHANTOM_CENTER_Z
OCTANE_ITERATIONS = 1

#########################################
# POINT PARAMETERS
#########################################
TEMPERATURE=YYY_TEMPERATURE

#Parameter corrects for inverse square effect. Values should be between 0.5 and 1.0.
#0.75 seems to work well for the 7/25 filtered data
INVERSE_SQUARE_PARAM = YYY_INVERSE_SQUARE_PARAM
#Number of threads to use with OpenMP

NUMBER_OF_THREADS=YYY_NUMBER_OF_THREADS
ITERATIONS=YYY_ITERATIONS
EVENT_MULTIPLIER=YYY_EVENT_MULTIPLIER
OFFSET_X=0.0
OFFSET_Y=0.0


#################################################
# CHOOSE DENSITY ESTIMATOR TYPE
#################################################
#use DENSITY_ESTIMATOR_TYPE=1 for 3D histogram
#use DENSITY_ESTIMATOR_TYPE=2 for average shifted 3D histogram
DENSITY_ESTIMATOR_TYPE=YYY_DENSITY_ESTIMATOR_TYPE
NUMBER_OF_SHIFTS=YYY_NUMBER_OF_SHIFTS

#########################################
# RUN TIME CONSTRAINTS
#########################################
#Most random points on the cone are
# outside of the phantom, and, therefore, 
# cannot be used. The algorithm continues to try
# to generate a random point on the cone and in the 
# phantom until it is successful or it has tried 
# NUM_TRIES_FOR_RANDOM times. If NUM_TRIES_FOR_RANDOM
# is exceeded, then then cone is thrown out.
#
# Decreasing this number will reduce the time it take to run 
# the code. It could reasonably make the reconstruction better 
# or worse -- This has NOT been tested
#originally 100000
NUM_TRIES_FOR_RANDOM=YYY_NUMBER_TRIES_FOR_RANDOM
CONE_PHANTOM_OVERLAP_PERCENTAGE=0.05

#Limit reconstruction to MAX_NUM_CONES
#originally 500000
MAX_NUM_CONES=YYY_MAXIMUM_NUM_CONES

#Skip the first NUM_CONES_OFFSET cones
NUM_CONES_OFFSET=YYY_NUM_CONES_OFFSET
########################################



#################################################


#################################################
# EVENT CUTS
#################################################

#Cone/plane intersections are either ellipses or parabolas
# To exclude parabolas from reconstruction set USE_PARABOLAS=0
# It is possible that parabolas are more likely to be noise
# than are ellipses
USE_PARABOLAS=YYY_USE_PARABOLAS
#normally min 2.0 and max 6.5 for proton beam
MIN_GAMMA_ENERGY=YYY_MIN_GAMMA_ENERGY
MAX_GAMMA_ENERGY=YYY_MAX_GAMMA_ENERGY

MIN_SCATTERING_ANGLE=YYY_MIN_SCATTERING_ANGLE
MAX_SCATTERING_ANGLE=YYY_MAX_SCATTERING_ANGLE

#require the some distance between the first and second scatters
SCATTER_DISTANCE=YYY_SCATTER_DISTANCE
DCA_CUT=YYY_DCA_CUT
DCA_CUT_X=YYY_X_DCA_CUT
DCA_CUT_Y=YYY_Y_DCA_CUT
DCA_CUT_Z=YYY_Z_DCA_CUT

MAX_ENERGY_LOST=YYY_MAX_ENERGY_LOST



#################################################
# SYSTEM COMMANDS
#################################################
MAKE_DIR_COMMAND=mkdir
MOVE_DIR_COMMAND=mv
FOLDER_DELIMITER=/
COPY_COMMAND=cp
DELIMITER=,

